* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}
.overlay {
  background: linear-gradient(0deg, #252525 35%, #1A1B1C 65%);
  position: fixed;
  top: 45px;
  right: 0;
  height: 100vh;
  width: 0;
  z-index: +11;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  overflow-x: hidden;
  transition: .4s ease;
  padding-top: 30px !important;
}

.overlay a {
  font-size: 20px;
  color: var(--i, #bbb);
  padding: 10px;
  text-decoration: none;
  transition: .5s ease;
  width: 100%;

}

.overlay a:hover {
  transform: scaleY(1.5);
  transition: .2s ease;
}

.fa-xmark {
  position: absolute;
  font-size: 2rem;
  right: 15px;
  top: 10px;
  color: white;
}

.fa-xmark:hover {
  transform: rotate(180deg);
  transition: .5s ease;
}

.active {
  width: 150px;
  padding: 0px 16px;
}

.nav i{
  display: none;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 0.6;
  padding: 15px 0;
  gap: 100px;
}
.nav a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.sect-1 {
  background-color: black;
  width: 100%;
  height: 95vh;
}
.sect-1 h1 {
  color: rgb(243, 233, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  font-size: 2000%;
  font-family: "Limelight", cursive;
}

.view {
  display: flex;
  justify-content: center;
  color: white;
  gap: 30px;
}

.sect-all {
  background-color: rgb(218, 180, 157);
  height: 70vh;
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.sect-2 h1 {
  color: black;
  font-size: 40px;
  font-family: "Limelight", cursive;
}

.sect-2 p {
  width: 500px;
  font-size: 20px;
  padding-top: 20px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right svg {
  width: 200px;
}

.right svg:first-child {
  transform: rotate(340deg);
}

.sect-3 {
  background-color: rgb(218, 180, 157);
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.lef img,
.rig img {
  width: 500px;
  filter: grayscale(1);
  mix-blend-mode: luminosity;
}

.lef h2,
.rig h2 {
  font-size: 26px;
  padding: 5px 0;
}

.lef p,
.rig p {
  width: 50%;
  line-height: 25px;
}
.sect-4 {
  background-color: rgb(218, 180, 157);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.sect-4 h2 {
  font-size: 40px;
  width: 30%;
}

.sect-4 p {
  width: 30%;
  font-size: 20px;
}

.sect-5 {
  background-color: rgb(218, 180, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect-5 svg {
  width: 150px;
  height: 150px;
}

.sect-5 h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.sect-5 p {
  width: 30%;
  text-align: center;
  font-size: 18px;
}

.footer {
  background-color: rgb(218, 180, 157);
  padding: 50px 0 20px 70px;
}

@media(max-width:1200px){
  .sect-3{
    flex-direction: column;
    align-items:center ;
    padding: 0;
  }
  .rig{
    padding-left:50px ;
  }
}

@media(max-width:1100px){
  .sect-1 h1 {
    color: rgb(243, 233, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    font-size: 150px;
    font-family: "Limelight", cursive;
  }
}

@media(max-width:957px){
  .nav {
    display: flex;
    justify-content:center ;
    background-color: black;
    opacity: .6;
    padding: 15px 0;
    gap: 50px; 
}


}

@media(max-width:830px){
  .right{
    display: none;
  }
  .sect-2{
    text-align: center;
  }
}

@media(max-width:750px){
  .nav a{
    display: none;
  }
  
  .nav {
    display: flex;
    color: white;
    justify-content: end;
  }
  
  .nav i{
    display: block;
    padding-right:20px ;
  }
}
@media(max-width:610px){
  .lef img,
  .rig img {
    width: 300px;
    filter: grayscale(1);
    position: relative;
    mix-blend-mode: luminosity;
  }
  .sect-3{
    padding: 0 55px;

  }
  .rig{
    padding-left:0 ;
  }
}
@media(max-width:555px){
  .sect-1 h1 {
    color: rgb(243, 233, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    font-size: 100px;
    font-family: "Limelight", cursive;
  }

  .sect-2 h1 {
    color: black;
    font-size: 20px;
    font-family: "Limelight", cursive;
  }
  
  .sect-2 p {
    width: 300px;
    font-size: 18px;
    padding-top: 20px;
  }

  .sect-3{
    padding: 0 55px;

  }
  .lef,.rig{
    padding-top: 20px;
  }

  .lef h2,
.rig h2 {
  font-size: 20px;
  padding: 5px 0;
}

.lef p,
.rig p {
  width: 80%;
  line-height: 25px;
}
.sect-4,.sect-5{
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.sect-4 h2,.sect-5 h2{
  width: 70%;
}
.sect-4 p,.sect-5 p{
  width: 70%;
}

.footer {
  background-color: rgb(218, 180, 157);
  padding: 50px 0 20px 10px;
}
}

@media(max-width:400px){
  .sect-1{
    height: 60vh;
  }
  .sect-1 h1 {
    color: rgb(243, 233, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size:60px;
    font-family: "Limelight", cursive;
  }
}